.App {
	display: grid;
	place-items: center;
}

.body {
	padding: 0;
	margin: 0;
}

.board {
	width: 500px;
	height: 500px;
	border: 1px solid black;
	background-color: #f0f0f0;
}

.row {
	display: flex;
	flex: 33%;
	flex-direction: row;
	/* border: 1px solid black; */
}
